.mediaViewInfo {
	--web-view-name: IndexPage;
	--web-view-id: IndexPage;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: IndexPage;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#IndexPage {
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	background: #E5E5E5;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: IndexPage;
	--web-view-id: IndexPage;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#brain_2062057 {
	opacity: 0.68;
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 3px;
	height: 15px;
	left: 1253px;
	top: 290px;
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 566px;
	height: 140px;
	left: 644px;
	top: 788px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: RegistrationForm.html;
	cursor: pointer;
}
#Register {
	position: absolute;
	left: 775px;
	top: 791px;
	overflow: visible;
	width: 345px;
	white-space: nowrap;
	text-align: left;
	font-family: Soft_Notes;
	font-style: normal;
	font-weight: normal;
	font-size: 120px;
	color: rgba(242,239,2,1);
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 278px;
	height: 73px;
	left: 26px;
	top: 26px;
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 566px;
	height: 140px;
	left: 644px;
	top: 620px;
	cursor: pointer;
	--web-animation: fadein 0.4s ease-out;
	--web-action-type: page;
	--web-action-target: Student_Professor.html;
}
#Sign_in {
	position: absolute;
	left: 781px;
	top: 603px;
	overflow: visible;
	width: 293px;
	white-space: nowrap;
	text-align: left;
	font-family: Soft_Notes;
	font-style: normal;
	font-weight: normal;
	font-size: 120px;
	color: rgba(242,239,2,1);
}
#About {
	position: absolute;
	left: 98px;
	top: 14px;
	overflow: visible;
	width: 136px;
	white-space: nowrap;
	text-align: left;
	font-family: Soft_Notes;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	color: rgba(242,239,2,1);
}
.Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 911px;
	height: 372px;
	left: 472px;
	top: 168px;
}
#Flexer {
	position: absolute;
	left: 590px;
	top: 124px;
	overflow: visible;
	width: 676px;
	white-space: nowrap;
	text-align: left;
	font-family: Soft_Notes;
	font-style: normal;
	font-weight: normal;
	font-size: 332px;
	color: rgba(16,57,9,1);
}