body {
    font-family: 'Gaegu', cursive;
}
.img {
    background-image: url("brain1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.img2{
    background-color: #CCFFCC;
}

.login {
    display: flex;
    align-items: center;
    justify-content:space-evenly;

}
.title{
    font-size: 150px;
}


h1 {
    background-color: yellow;
    opacity: 0.9;
    display: flex;
    font-size: 200px;
    font-family: 'Gaegu', cursive;
    color: #ff0000;
    justify-content: center;
    text-align: justify;

   }

h2 {
    display: flex;
    font-size: 60px;
    justify-content: center;
    color: red;
    font-weight: 900;
    background-size:;
    background-color: yellow;
}

.div1 a {
    text-decoration: none;
}

list1 ul {
    display: flex;
    justify-content: center;
    background-color: yellow;
}

list1 ul li {
    display: flex;
    font-size: 60px;
    justify-content: center;
    color: red;
    font-weight: 900;
    background-size:;
    background-color: yellow;
    list-style: none;

}
list1 ul li a{
    text-decoration: none;
    display: flex;
    justify-content: center;
}


.nav-main{
    width: 100%;
    height: 60px;
    background-color: #111;
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;
    position: fixed;
    top: 0;
}

.nav-main ul{
    display: flex;
    flex-wrap: wrap;
    padding-left: 900px;

}

.nav-main ul li{
    list-style: none;
    height: 60px;
    padding-left: 10px;
   
}

.nav-main ul li a{
    display: block;
    height: 100%;
    padding: 0px 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
   
}

.nav-main h3{
    display: block;
    height: 100%;
    padding: 0px 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
}
.nav-main a{
    display: block;
    height: 100%;
    padding: 0px 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
}

.tasks-container{
    padding-top: 100px;
    padding-left: 100px;

}

.tasks-container h3{
    font-size: 20px;
    padding-bottom: 20px;
}

.tasks-container h3 a{
    text-decoration: none;    
}

.big {
    width: 70%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

  .mini {
    width: 70%;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

.tasks-input {
    padding-top: 100px;
}
.other {
  display: flex;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;

}

.h1About {
    display: flex;
    font-size: 100px;
    justify-content: center;
    color: gold;
}
.front{
    
        display: flex;
        align-items: center;
        justify-content:space-evenly;

}


.pAbout {
    display: flex;
    font-size: 30px;
    padding-left: 300px;
    padding-right: 300px;
    color: gold;
}

button{
    display: flex;
    justify-content: center;
}